<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>User input Form</h1>
<form action="register" method="post">
<label for="fname">First name:</label><br>
<input type="text" name="fname"> <br/>

<label for="lname">First name:</label><br>
<input type="text" name="lname"> <br/>

<label for="phone">First name:</label><br>
<input type="number" name="phone"> <br/>

<input type="submit" value="Register and see list of users"> <br/>
</form>
</body>
</html>